<div class="side-bar">
  <div class="site-title">
    <a href="/" style="background-image: none;">
      <img src="{{ "/assets/images/FIFA_logo_w250.png" | absolute_url }}" width="100" alt="FIFA Women's World Cup">
    </a>
  </div>
  <span class="fs-3"><button class="js-main-nav-trigger navigation-list-toggle btn btn-outline" type="button" data-text-toggle="Hide">Menu</button></span>
  <div class="navigation main-nav js-main-nav">
    {% include nav.html %}
  </div>
  <footer role="contentinfo" class="site-footer">
    <p class="text-small text-grey-dk-000 mb-0"></p>
  </footer>
</div>
