<!DOCTYPE html>

<html lang="{{ site.lang | default: "en-US" }}">
{% include head.html %}
<body>
  <style media="screen">
    #form { display: none }
  </style>
  <div class="page-wrap">
    {% include sidebar.html %}
    <div class="main-content-wrap js-main-content" tabindex="0">
      <div class="page-header">
        <div class="main-content">
          {% if site.aux_links != nil %}
            <ul class="list-style-none text-small mt-md-1 mb-md-1 pb-4 pb-md-0 js-aux-nav aux-nav">
              {% for link in site.aux_links %}
                <li class="d-inline-block my-0{% unless forloop.last %} mr-2{% endunless %}"><a href="{{ link.last }}">{{ link.first }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="main-content">
        <div id="main-content" class="page-content" role="main">
          <h2>Join the hackathon</h2>
          <div id="consent">
            <p>Sumissions are closed.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    let formVisible = false;
    const toggleForm = () => {
      const form = document.getElementById('form');
      const consent = document.getElementById('consent');
      formVisible = !formVisible;
      if (formVisible) {
        form.style.display = 'block';
        consent.style.display = 'none';
      } else {
        form.style.display = 'none';
        consent.style.display = 'block';
      }
    }
  </script>
</body>
</html>
